body,
html {
  font-family: "Josefin Sans", sans-serif;
}

canvas {
  float: left;
  margin-left: calc((100vw - (540px + 200px)) / 2);
}

video {
  margin-left: calc(((100vw - (540px + 200px)) / 2) / 2);
  margin-bottom: 150px;
  margin-top: 100px;
}

#title {
  border: 2px dashed rgb(71, 70, 70);
  display: table;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 5vh;
  padding: 5px 10px;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
}
